
.aClassName {
    color:white
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: #222;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    
}

#root {
    padding: 2em;
    background-color: #000000d0;
    border-radius: 30px;
    color: white;
    margin: 1em;
    width: 100%;
    max-width: 420px;
}

.css-class-name {
    padding: 0.4em 1em;
    width: calc(100% - 100px);
    border:none;
    outline: none;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-size: 105%;
    font-family: inherit;
}

button{
   margin: 0.5em;
   border-radius: 50%;
   border:none;
   height: 44px;
   width: 44px;
   outline:none;
   background-color: #7c7c7c2b;
   color: white;
   cursor: pointer;
   transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

#result-header > div {
    text-transform: capitalize;
    margin-left: 8px;
}

h1 {
    margin: 0;
    margin-bottom: 0.4em;
}

::placeholder {
    color: white;
}
 #container{
    display:flex;
    justify-content: center;
    align-items: center;
 }

 #container2 {
    display:flex;
    align-items: center;
 }


 /* spinner*/
 #spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }